.wrapper-container {
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    h2{
        text-align: center;
        color: gray;
    }
}
.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}